* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    overflow: hidden;
}

/* First division */

.first {
    position: fixed;
    left: 0px;
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    line-height: 3em;
    z-index: 3;
    transition: all 0.6s ease;
}

.first img {
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
}

.first h3 {
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

.first p {
    color: gray;
    padding-left: 20px;
}

.first .icons {
    display: block;
}

.first .icons i {
    padding-right: 20px;
    color: black;
}

.first .icons p {
    color: black;
    display: block;
    padding-left: 20px;
}

.first .active {
    color: green !important;
}

.first .icons :first-child:hover {
    background-color: rgb(198, 198, 198);
    color: black !important;
}

.first .icons p:hover {
    background-color: rgb(198, 198, 198);
}

.extra-icons {
    padding-left: 16px;
    padding-top: 10px;
}

.extra-icons i {
    margin: 0 3px;
    font-size: 20px;
    color: black;
}

.extra-icons i:hover {
    color: blue;
}
.second {
    margin-left: 20%;
    width: 80%;
    background-color: rgb(227, 224, 224);
    padding: 20px 20px 0px 20px;
}

.second h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

.second .bar {
    display: flex;
}

.second .active2 {
    margin-top: 7px;
    margin-right: 20px;
}

.second .one:hover {
    background-color: rgb(234, 234, 234) !important;
    color: black !important;
}

.second .bar ul {
    list-style-type: none;
}

.second .bar ul li {
    display: inline-block;
}

.second .bar ul li {
    padding: 10px 15px;
    background-color: white;
}

.second .bar .one {
    background-color: black;
    color: white;
}

.second .bar ul li:hover:not(.active2) {
    background-color: rgb(165, 163, 163);
    color: black;
}

.second .nothing {
    width: 100%;
    height: 5px;
    background-color: rgb(185, 185, 185);
    margin-top: 20px;
    margin-bottom: 20px;
}

.second .columns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
}

.columns .col-one, .col-two {
    padding-right: 10px;
}

.columns .col-one, .col-two, .col-three {
    max-width: 33.33%;
    flex: 33.33%;
}

@media screen and (max-width: 750px) {
    .columns .col-one, .col-two {
        max-width: 50%;
        flex: 50%;
    }

    .columns .col-three {
        flex-direction: 100%;
        max-width: 80%;
        margin: 0 auto;
    }

    .columns .col-two {
        padding-right: 0px !important;
    }

    .columns .col-three {
    padding-right: 0px !important;
    }
}

@media screen and (max-width: 530px) {
    
    .columns .col-one, .col-two, .col-three {
        flex: 100%;
        max-width: 100%;
    }

    .columns .col-one {
    padding-right: 0px !important;
    }

    .columns .col-three {
        flex-direction: 100%;
        max-width: 100%;
    }
}

.second .columns .content {
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.content .imagehover {
    width: 100%;
    overflow: hidden;
}

.content img {
    width: 100%;
    height: 250px;
    vertical-align: middle;
    opacity: 1;
    transition: 0.7s ease;
}

.content img:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.extracontent {
    background-color: white;
    padding: 15px;
    height: 160px;
    overflow: auto;
}

.extracontent h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.7px;
    margin-bottom: 10px;
}

.extracontent p {
    color: rgb(133, 132, 132);
    font-size: 16px;
    white-space: wrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.bar2 {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.minibar {
    width: 300px;
    margin: 0 auto;
}

.minibar a {
    float: left;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.minibar .active {
    color: white !important;
    background-color: black !important;
}

.minibar a:hover {
    background-color: black;
    color: white;
}

.second .image2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.second .image2 img {
    width: 600px;
    height:500px;
}

@media screen and (max-width: 1000px) {
    .second .image2 {
        flex-direction: column;
    }
    .second .image2 img {
        display: block;
        margin: 0 auto;
        border-radius: 6px;
        margin: 10px;
    }
}

@media screen and (max-width: 650px) {
    .second .image2 img {
        width: 400px;
        height: 400px;
    }
}

.about {
    margin-bottom: 40px;
}

.about h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about p {
    font-size: 16px;
    color: rgb(47, 46, 46);
    letter-spacing: .9px;
    line-height: 1.6em;
}

.skills {
    margin-bottom: 40px;
}

.skills .skill {
    margin-bottom: 20px;
}

.skills h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.skills .skill p {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.skills .one, .two , .three{
    width: 100%;
    height: 44px;
    text-align: center;
    border: 1px solid rgb(38, 0, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.skills .one {
    background-image: linear-gradient(to right,rgb(2, 153, 223) 90%, rgb(255, 255, 255) 10%);
}

.skills .two {
    background-image: linear-gradient(to right, rgb(2, 153, 223) 40%, white 40%);
}
.skills .three {
    background-image: linear-gradient(to right, rgb(2, 153, 223) 20%, white 20%);
}

.resume {
    margin-bottom: 50px;
}

.resume button {
    border: 1px solid rgb(153, 150, 150);
    background-color: rgb(136, 136, 136);
    color: rgb(0, 0, 0);
    padding: 17px 20px;
    cursor: pointer;
    font-size: 15px;
}

.resume button i {
    margin-right: 8px;
}

.resume button:hover {
    background-color: rgb(176, 175, 175);
    color: rgb(0, 0, 0);
}

.charge {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

.charge .same {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.charge .same .child {
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.charge .same .active {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px 0px;
    font-size: 18px;
}

.charge .same .extra {
    width: 100px;
    color: rgb(255, 1, 52);
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.charge .same button {
    border: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.charge .same:hover {
    opacity: 1;
}

.charge .same button:hover{
    background-color: rgb(10, 184, 10);
}

@media screen and (max-width: 490px) {
    .charge {
        display: block;
    }

    .charge .same {
        width: 100%;
        margin-bottom: 15px;
    }
}

.contacts {
    margin-bottom: 20px;
    background-color: rgb(204, 204, 204);
    width: 100%;
    padding: 20px;
}

.contacts h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.email, .location, .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 33.33%;
}

.email {
    background-color: black;
    color: white;
    padding: 20px;
}

.email i {
    margin-bottom: 5px;
    font-size: 20px;
}

.location {
    background-color: hotpink;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.location i {
    margin-bottom: 5px;
    font-size: 20px;
}

.number {
    background-color: black;
    color: white;
    padding: 20px;
}

.number i {
    margin-bottom: 5px;
    font-size: 20px;
}

.nothing2 {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form form input {
    width: 100%;
    height: 50px;
    margin: 6px 0px 8px 0px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.form form label {
    font-weight: 300;
}

.form form button {
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 12px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form form button i {
    margin-right: 10px;
}

.form form button:hover {
    background-color: rgb(10, 184, 10);
}

.credit {
    font-size: 17px;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 25px;
    z-index: 1;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: rgb(143, 143, 143);
    padding: 15px;
    overflow: auto;
}

.footer h3 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    margin-bottom: 16px;
}

.footerinfo  {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto;
}

.footer .footerinfo p span {
    font-size: 17px;
    background-color: rgb(49, 48, 48);
    padding: 10px 12px;
    border-radius: 5px;
    color: white;
    margin: 10px 6px 5px 0px;
    display: inline-block;
}

.openbtn {
    position: absolute;
    top: 15px;
    left: 21px;
    font-size: 33px;
    background-color: transparent;
    border: none;
    display: none;
}

.closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 36px;
    background-color: transparent;
    border: none;
    display: none;
}

.second .laterimg {
    position: absolute;
    top: 12px;
    right: 20px;
    display: none;
}

@media screen and (max-width: 900px) {
    .first {
        left: -400px;
        width: 270px;
    }

    .second .laterimg {
        display: block;
    }

    /* toggle button */

    .first img {
        margin-top: 70px;
    }

    .second h1 {
        padding-top: 50px !important;
    }

    .openbtn {
        display: block;
    }

    .closebtn {
        display: block;
    }
    /* toggle button works ends */
    .second {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 650px) {
    .contacts .info {
        display: block;
    }

    .contacts .info .email, .location, .number {
        width: 100%;
        text-align: center;
    }
}